@model List<CustomerFeedbackPortal.Models.Feedback>

@{
    ViewData["Title"] = "Feedback List";
}

<h2>Submitted Feedback</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Comments</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Rating</td>
                <td>@item.Comments</td>
            </tr>
        }

    </tbody>

</table>

<a asp-action="Create" class="btn btn-primary">
    Add New Feedback
</a>